
/* utility class */
*{
    margin:0;
    padding:0;
    border:border-box;
    font-family: 'Arial', 'sans-serif';
}
.flex{
    display: flex;
}
.border{
    border:2px solid transparent;
}
.border:hover{
    border:4px solid rgb(163, 159, 159); 
    border-radius:4px;
    padding:2px;
    transition: 0.4s ease-out;
}
a{
    text-decoration: none;
    color:white;
}
ul{
    list-style: none;
}
/* navbar */
.navbar{
    height:60px;
    background-color: #0f1111;
    color:white;
    align-items: center;
    /* gap:20px; */
    justify-content: space-evenly;
}
.nav-logo{
    height: 50px;
}
.logo{
    height:50px;
}
.logo img{
    width:113px;
}

.first-add{
    color:#cccccc;
    font-size: 0.75rem;
    margin-left:15px;
}
.add-icon{
    gap:5px;
    font-size: 0.875rem;

}
.second-add{
    font-weight:700;
}

.select{
    background-color: #f3f3f3;
    padding: 0px 5px;
    margin:0px;
    font-size: 1rem;
    border:none;
    font-weight: 100;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    
}
.search-box{
    width:767px;
    height:38px;
    font-size: 0.9rem;
   border: none;
}
.nav-search:hover{
    border:2px solid orange;
    transition: 0.2s ease-out;
    border-radius: 5px;
}


.search-icon{
    background-color: #febd68;
    width:45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.language-select{
    display: flex;
}
.country-flag{
    /* height:16px;
    width:21px; */
    margin-right: 3px;
}
.country-select{
    background-color: #0f1111;
    color:white;
    border:none;
    font-weight: 700;
}

.signin-1{
    font-size: 0.75rem;
}
.signin-2 {
    font-size: 0.875rem;
    font-weight: 700;
}
.signin-2 select{
    background-color: #0f1111;
    color:white;
    border:none;
}
.orders-1{
    font-size: 0.75rem;
}
.orders-2{
    font-size: 0.875rem;
    font-weight: 700;
}
.cart p{
    font-size: 0.875rem;
    font-weight: 700;
    margin-top: 15px;
}
.cart img{
    filter: invert(100);
}

.bottom-nav{
    background-color: #232f3e;
    justify-content: space-between;
    color:white;
    height:39px;
    align-items: center;
    font-size: 0.875rem;
}
.nav-right-list {
   gap:20px;
   margin-left: 20px;
   justify-content: center;
   align-items: center;
   font-weight: 500;
}
.bottom-nav-left p{
    font-weight: bold;
    margin-right: 20px;
}

/* hero section css  */
.hero-image {
    background-image: url(img/hero_image.jpg);
    background-size: cover;
    width:100%;
    height:400px;
    display: flex;
    justify-content: center;
    align-items: self-end;
}
.hero-image p{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f6f6 !important;
    color:black;
     height: 40px;
    font-size: 0.875rem;
    width:80%;
    margin-bottom: 30px;

}
.hero-image p a{
    font-size: 0.875rem;
    color:#007185;
}
.hero-mid-text{
    margin:0x 10px 0px 10px;
    padding:10px;
    top:400px;
    left:20px;
    right:20px;
    /* position: absolute; */
    background-color: #f5f6f6;
    text-align: center;
    color:black;
}

.hero-mid-text a{
    color:#007185;
}
.main-content{
    background-color: #E3E6E6;
}
.boxes{
    flex-wrap: wrap;
    /* justify-content:center ; */
    /* align-items: center; */
}
.box-1{
    background-color:#ffffff;
    width:23%;
    height:420px;
    margin:10px 10px;
    border-radius:4px;
    /* gap:10px; */
    
}
.box-1-content{
    flex-direction: column;
    gap:20px;
    padding:10px;
}
.box-1-content img{
    height:303px;
    width:98%;
}
.box-1-content a{
    color:black;
}
.box-1-content span{
    /* margin-top: 20px; */
}


.spacer{
    width:50vw;
    height:50vh;
}
.images-box{
    gap:10px;
    justify-content: center;
    flex-wrap: wrap;
}
.grid-img img{
    height:115px;
    width:155px;
}
.grid-box-text{
    width:42%;
    color:#0f1111;
    font-size: 0.75rem;
    text-align: left;
}
.grid-boxes-1{
    justify-content:start !important;
}

.footer-container-1{
    background-color: #37485A; 
    color:#DDDDDD;
    padding:5px 0px;
    font-size: 0.8125rem;
    height: 49px;
    justify-content: center;
    align-items: center;

}

.footer-container-2{
    background-color: #232f3e;
    width: 100%;
    height:70vh;
    justify-content: center;
    align-items: flex-start;
    gap:10px;
    
}
.footer-container-2 ul{
   margin:150px 70px 0px 70px;
}
ul a{
    display: block;
    margin-top:10px;
    font-size: 0.875rem;
    color:#DDDDDD;
}
ul p{
    font-weight: 700;
    color:white;
    font-size: 1rem;
    margin-bottom: 10px;
    
}
.footer-container-3{
    background-color: #232f3e;
    height:68px;
    width:100%;
    border-top:0.5px solid white;
    justify-content: center;
    align-items: center;
}
.footer-container-3 img{
    margin-top:10px;
    margin-right: 20px;
    height:68px;
    width:100px;
}
.language {
    margin-right: 50px;
}
.language select{
    text-align: center;
    color:#DDDDDD;
    border-radius: 3px;
    padding:10px;
    background-color: #232f3e;
}

.footer-bottom{
    justify-content: center;
    align-items: center;
    height:80px;
    background-color: rgb(18,26,34);
}
.fotter-bottom-item {
    max-width: 35%;
    justify-content: center;
    align-items: center;
    width:90%;
    flex-wrap: wrap;
    gap:10px;
}